<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NameChange</servlet-name>
    <servlet-class>ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameChange</servlet-name>
    <url-pattern>/Exchange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Form</servlet-name>
    <servlet-class>FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/Form</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Root</servlet-name>
    <servlet-class>RootServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Root</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Database</servlet-name>
    <servlet-class>DatabaseInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Database</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
</web-app>
